
 <div class="card">
    <div class="image-container">
        <img src={{ vmachine.url }} alt="image description">
    </div>
    <p class="description">
        {{ vmachine.description }}
    </p>
    <div class="specs">
        <div class="spec"><strong>{{ vmachine.vcpu }}</strong><br>vCPU</div>
        <div class="spec"><strong>{{ vmachine.ram }}</strong><br>RAM</div>
        <div class="spec"><strong>{{ vmachine.ssd }}</strong><br>SSD</div>
    </div>
    <div class="price">
        {{ vmachine.price }} ₽/мес
    </div>
    <div class="button-container">
        <a href="{% url 'vmachine_url' element.id %}" class="button">Подробнее</a>
        <form method="POST" style="display: inline;">
            <input type="hidden" name="service_id" value="{{ vmachine.id }}">
            <input type="hidden" name="max_price" value="{{ vmachines_max_price }}">
            <button type="submit" class="button_add">Добавить</button>
        </form>


    </div>
    
</div>